<!DOCTYPE html>
<html>
    <head>
        <title>Getting Deleted Students</title>
        <style>
            table,th,td{
                border: 2px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Retrieve Deleted Students</h1>

    <form method="post">
        {% csrf_token %}
        <label for="course_name">Enter Course Name:</label>
        <input type="text" id="course_name" name="course_name" required>
        <button type="submit">Get Deleted Students</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if deleted_students %}
        <h2>Deleted Students for Course: {{ course }}</h2>
        <table >
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                
            </tr>
            {% for student in deleted_students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                
            </tr>
            {% endfor %}
        </table>
    {% endif %}
   
    
    </body>
</html>